<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<connectionStrings>
		<add name="Supermarket"
			 connectionString="server=DESKTOP-FF268DF\SQLEXPRESS;database=smarketdb;Integrated Security=SSPI;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
<connectionStrings>
        <add name="Supermarket" connectionString="Data Source=DESKTOP-FF268DF\SQLEXPRESS;Initial Catalog=smarketdb;Persist Security Info=True;User ID=super;Password=super"
            providerName="System.Data.SqlClient" />
        <add name="ReportDLL.Properties.Settings.AmbulateConnectionString"
            connectionString="Data Source=.;Initial Catalog=smarketdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>